*.db
*.sqlite
*.sqlite3
**/__pycache__
*.pyc
backend/instance/*.db
backend/instance/backups/
venv/
.idea/
userData/
frontend/static/images/projects/
*.env
backend/reports/certificates/
/backend/license/license.lic
*.iml
*.ipr
*.iws
.venv/
*.log
*.bak
certificates/*
git_log.txt
