/* bug_bounty.css */
body {
    font-family: var(--font-family);
    margin: 0;
    background-color: var(--background-light);
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Aligns form closer to the top */
    height: 100vh;
    padding-top: 30px;
}

pre {
    white-space: pre-wrap; /* Ensures lines wrap within the container */
    word-wrap: break-word;
    background-color: var(--background-light); /* Light gray background for readability */
    padding: var(--input-padding);
    border-radius: var(--border-radius-small);
}

#bounty-container {
    background-color: white;
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-light);
    padding: 40px;
    width: 100%;
    max-width: 600px;
    margin: 0 20px;
    box-sizing: border-box;
}

h1 {
    color: var(--primary-color);
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

label {
    font-weight: bold;
    color: var(--text-color);
    margin-bottom: 5px;
}

textarea, input[type="text"] {
    padding: var(--input-padding);
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-small);
    font-size: 16px;
    resize: vertical;
    width: 100%;
    box-sizing: border-box;
}

textarea:focus, input[type="text"]:focus {
    outline: none;
    border-color: var(--focus-border-color);
    box-shadow: var(--box-shadow-light);
}

button {
    padding: 12px 0;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius-small);
    font-size: 18px;
    cursor: pointer;
    transition: var(--transition-default);
    width: 100%;
}

button:hover {
    background-color: var(--primary-color-dark);
}

@media (max-width: 600px) {
    #bounty-container {
        padding: 20px;
        width: 100%;
    }

    button {
        font-size: 16px;
    }

    textarea, input[type="text"] {
        font-size: 14px;
    }
}
