body {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    background-color: #f5f5f5;
}

h1 {
    color: #333;
}

#container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 20px;
}

#chat {
    padding: 10px;
    border: 1px solid #ccc;
    height: 500px;
    overflow: auto;
    margin-bottom: 15px;
    width: 100%;
}

#usernameForm, #messageForm {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
    width: 100%;
}

label {
    margin-right: 5px;
    color: #555;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: 1;
    margin-bottom: 5px;
    width: 80%;
}

button {
    padding: 10px 15px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    flex-basis: 20%;
}

button:hover {
    background-color: #2980b9;
}

a {
    color: blue;
    text-decoration: underline;
}

@media (max-width: 600px) {
    #usernameForm, #messageForm {
        flex-direction: column;
    }

    input {
        margin-bottom: 10px;
    }
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
