/* signup.css */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#signup-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 400px;
    max-width: 90%;
    text-align: center;
}

h1 {
    color: #0EB2BB; /* Teal */
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    font-weight: bold;
    color: #333;
    text-align: left;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input:focus {
    outline: none;
    border-color: #0EB2BB; /* Teal */
    box-shadow: 0 0 8px rgba(0, 128, 128, 0.2);
}

button {
    padding: 12px 0;
    background-color: #0EB2BB; /* Teal */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #006666; /* Darker teal */
}

p {
    margin-top: 15px;
    color: #555;
}

a {
    color: #FFD700; /* Yellow */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    #signup-container {
        padding: 20px;
        width: 100%;
    }

    button {
        font-size: 16px;
    }

    input {
        font-size: 14px;
    }
}
