{% extends "base.html" %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/edit_profile.css') }}">

<form method="POST" action="{{ url_for('user.edit_profile') }}" enctype="multipart/form-data">
    <input type="text" name="username" value="{{ user.username }}" hidden autocomplete="username">

    <label>
        New Password
        <input type="password" name="password" autocomplete="new-password">
    </label>

    <label>
        Confirm Password
        <input type="password" name="confirm_password" autocomplete="new-password">
    </label>

    <button type="submit">Save</button>
    <a href="{{ url_for('user.profile') }}">Cancel</a>
</form>
{% endblock %}
