<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom Chat</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">

</head>

<body>

    <!-- Navigation Bar -->
    <header>
        <div id="logo-container">
            <a href="{{ url_for('general.index') }}" class="logo">
                <img src="{{ url_for('static', filename='images/logo.ico') }}" alt="Classroom Chat Logo">
            </a>
        </div>

        <nav>
            <ul>
                {% if user %}
                    <li>
                        <a class="digital-ducks" href="{{ url_for('duck_trade.bit_shift') }}">
                            <span class="label" >Ducks:</span>
                            <span class="count">{{ user.duck_balance }}</span>
                        </a>
                    </li>

                    {% if user.packets|float > 0.001 %}
                        <li>
                            <a class="digital-ducks">
                                <span class="label">Packets:</span>
                                <span class="count">{{ user.packets|round(5) }}</span>
                            </a>
                        </li>
                    {% endif %}

                {% endif %}

                {% if 'user' in session %}



                        <!-- Profile Menu -->
                    <li class="profile-menu">
                        <img src="{{ url_for('user.profile_picture', filename=user.profile_picture) }}"
                             alt="Profile Picture"
                             class="profile-menu_img"
                             id="profileToggle">
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user.profile') }}">Profile</a></li>
                            <li><a href="{{ url_for('achievements.achievements_page') }}">Achievements</a></li>
                            <li><a href="{{ url_for('achievements.submit_certificate') }}">Submit Certificate</a></li>
                            <li><a href="{{ url_for('challenge.submit_challenge') }}">Submit Challenge</a></li>
                            <li><a href="{{ url_for('message.conversation_history') }}">History</a></li>
                            <li><a href="{{ url_for('user.logout') }}">Logout</a></li>
                        </ul>
                    </li>


                {% else %}
                    <li><a class="nav-button login" href="{{ url_for('user.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Content from other templates will be injected here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Classroom Chat. All Rights Reserved.</p>
    </footer>

</body>
<script type="module">
    import { initAchievements } from "{{ url_for('static', filename='js/achievements/achievements.js') }}";

    // Run it once when the page loads
    initAchievements("{{ session.get('user') }}");
</script>

<script>
    document.getElementById("profileToggle").addEventListener("click", function (e) {
    e.stopPropagation();
    document.querySelector(".dropdown-menu").classList.toggle("show");
});

document.addEventListener("click", function () {
    document.querySelector(".dropdown-menu").classList.remove("show");
});

</script>
</html>
