<!-- base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Classroom Chat</title>
    <link rel="icon" href="{{ url_for('static', filename='images/logo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/message.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/variables.css') }}">

</head>

<body>

    <!-- Navigation Bar -->
    <header>
        <div id="logo-container">
            <h1><a href="{{ url_for('general_bp.index') }}" style="text-decoration: none; color: inherit;">Classroom Chat</a></h1>
        </div>
        <nav>
            <ul>
                {% if user %}
                    <li><a class="digital-ducks">Digital Ducks: {{ user.ducks }}</a></li>
                {% endif %}

                {% if 'user' in session %}
                    <li><a class="nav-button" href="{{ url_for('message_bp.conversation_history') }}">Conversation History</a></li>
                    <li><a class="nav-button" href="{{ url_for('duck_trade_bp.bit_shift') }}">bitShift</a></li>
                        <!-- Profile Menu -->
                    <li class="profile-menu">
                        <img src="{{ url_for('user_bp.profile_picture', filename=user.profile_picture) }}"
                             alt="Profile Picture"
                             class="profile-menu_img"
                             id="profileToggle">
                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('user_bp.profile') }}">View Profile</a></li>
                            <li><a href="{{ url_for('user_bp.logout') }}">Logout</a></li>
                        </ul>
                    </li>


                {% else %}
                    <li><a class="nav-button login" href="{{ url_for('user_bp.login') }}">Login</a></li>
                {% endif %}
            </ul>
        </nav>

    </header>

    <!-- Main Content -->
    <main>
        {% block content %}
        <!-- Content from other templates will be injected here -->
        {% endblock %}
    </main>

    <!-- Footer -->
    <footer>
        <p>&copy; 2025 Classroom Chat. All Rights Reserved.</p>
    </footer>

</body>
<script>
    document.getElementById("profileToggle").addEventListener("click", function (e) {
    e.stopPropagation();
    document.querySelector(".dropdown-menu").classList.toggle("show");
});

document.addEventListener("click", function () {
    document.querySelector(".dropdown-menu").classList.remove("show");
});

</script>
</html>
