<!DOCTYPE html>
<!-- templates/dashboard.html -->
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="icon" href="{{ url_for('static', filename='images/logo.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
</head>
<body>
    <h1>Admin Dashboard</h1>
    <h2>Users Online</h2>
    <ul>
        {% for user in users %}
        <li>{{ user.username }} - {% if user.is_online %}Online{% else %}Offline{% endif %}</li>
        {% endfor %}
    </ul>

    <h2>AI Teacher Status</h2>
    <form action="{{ url_for('admin_bp.toggle_ai') }}" method="post">
        <button type="submit">{{ 'Disable' if config.ai_teacher_enabled else 'Enable' }} AI Teacher</button>
    </form>

    <h2>Start New Conversation</h2>
    <form action="{{ url_for('message_bp.start_conversation') }}" method="post">
        <button type="submit">Start</button>
    </form>

    <h2>Clear Conversation History</h2>
    <form action="{{ url_for('admin_bp.clear_history') }}" method="post">
        <button type="submit">Clear History</button>
    </form>

    <h2>Message Sending Status</h2>
    <form action="{{ url_for('admin_bp.toggle_message_sending') }}" method="post">
        <button type="submit">{{ 'Disable' if config.message_sending_enabled else 'Enable' }} Message Sending</button>
    </form>

    <h2>Ban A Word</h2>

    <form action="{{ url_for('admin_bp.add_banned_word') }}" method="post">
        <input type="text" name="word" placeholder="Enter new banned word" required>
        <textarea name="reason" placeholder="Enter reason (optional)"></textarea>
        <button type="submit">Add Word</button>
    </form>

</body>
</html>
