name: Deploy to EC2

on:
  push:
    branches:
      - deploy-gunicorn

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            cd /path/to/your/project/root
            git pull origin deploy-gunicorn
            chmod +x ./classroom-chat/deploy.sh
            ./classroom-chat/deploy.sh